@page
@model project1.Pages.RequestForAdminRoleModel
@{
	<input type="text" placeholder = "Please introduce yourself to us" />
	<form method ="post">
		<button type ="submit" asp-page-handler ="EndTheProcess">End the process</button>
	</form>
}
